# weR_USP scraping

In [1]:
## Dependences and definitions

In [2]:
import requests as req
import json
import pandas as pd

In [3]:
def load_URI_data(URI):
    r = req.get(URI)
    raw_data = r.content
    loaded_json = json.loads(raw_data)
    data = pd.DataFrame(loaded_json)
    return data

In [4]:
ano_inicial = 2014
ano_final = 2019

## URI testing

In [7]:
base_URI = "https://uspdigital.usp.br/datausp/servicos/publico"
URI_faculties = base_URI + "/indicadores/unidadesComNumeroDocentes/1988/2019/en"

faculties_data = load_URI_data(URI_faculties)

In [8]:
params = {"codigo_instituto": 42, "ano_final": ano_final, "ano_inicial": ano_inicial}
URI_programs = (base_URI + "/indicadores_pos/programas/{codigo_instituto}/{ano_inicial}/{ano_final}"
                            .format(**params))
programs_data = load_URI_data(URI_programs)
programs_data.sample(1)

,codigoProgramaPos,numeroAreas,percentualDocentesComLattes,percentualDocentesComOrcid,percentualDocentesComResID,percentualDocentesComScholar,percentualDocentesComScopus,programaPos,totalCredenciamentos,totalDocenteAposentadoCred,totalDocenteExternoCredenciado,totalDocenteInternoCredenciado,totalDocentesComLattes,totalDocentesComOrcid,totalDocentesComResID,totalDocentesComScholar,totalDocentesComScopus,totalDocentesCredenciados
4,42002,0,100.0,55.55,94.44,94.44,100.0,Ciências Morfofuncionais,0,0,0,0,18,10,17,17,18,18

In [9]:
params = {"codigo_programa": "42003", "ano_final": ano_final, "ano_inicial": ano_inicial}
URI_program = (base_URI + "/indicadores_pos/orientadores_credenciados_indicadores_pos/{codigo_programa}/{ano_inicial}/{ano_final}"
                          .format(**params))

program_data = load_URI_data(URI_program)
program_data.head(1)

,anoFimCredenciamento,anoInicioCredenciamento,areaProdutividade,bolsa,citacoesGoogleScholar,citacoesGoogleScholarPeriodo,citacoesScopus,citacoesScopusPeriodo,citacoesWos,citacoesWosPeriodo,...,totalEstratoA2,totalEstratoB1,totalEstratoB2,totalEstratoB3,totalEstratoB4,totalEstratoB5,totalEstratoC,totalMestrado,totalProdComColabInter,totalProducoes
0,2020,2015,Metabolismo e Bioenergética,PQ-2,0,0,873,376,854,339,...,4,1,2,0,0,1,1,2,2,10

In [10]:
params = {"codigo_instituto": 42, "ano_final": ano_final, "ano_inicial": ano_inicial}
URI_departments = (base_URI + "/indicadores/departamentosComNumeroDocentes/{codigo_instituto}/{ano_inicial}/{ano_final}/en"
                               .format(**params))

departments_data = load_URI_data(URI_departments)
departments_data.sample(1)

,codset,codund,nomabvset,nomset,nomund,numdocset,numdocund,pordoclat,pordocorcid,pordocrid,pordocsch,pordocsco,psudepens,tipund,totdoclat,totdocorcid,totdocrid,totdocsch,totdocsco
0,1522,None,BMA,Anatomy,None,23,None,100.0,52.17,73.91,91.3,91.3,False,None,23,12,17,21,21

In [11]:
params = {"codigo_departamento": "1522", "ano_final": ano_final, "ano_inicial": ano_inicial}
URI_department = (base_URI + "/indicadores/docentes_do_departamento/{codigo_departamento}/{ano_inicial}/{ano_final}"
                          .format(**params))

department_data = load_URI_data(URI_department)
department_data.head(1)

,anoFimCredenciamento,anoInicioCredenciamento,areaProdutividade,bolsa,citacoesGoogleScholar,citacoesGoogleScholarPeriodo,citacoesScopus,citacoesScopusPeriodo,citacoesWos,citacoesWosPeriodo,...,totalEstratoA2,totalEstratoB1,totalEstratoB2,totalEstratoB3,totalEstratoB4,totalEstratoB5,totalEstratoC,totalMestrado,totalProdComColabInter,totalProducoes
0,0,0,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0

## Merge testing

### Pt 1 - pos

In [12]:
program_data.columns

Index(['anoFimCredenciamento', 'anoInicioCredenciamento', 'areaProdutividade',
       'bolsa', 'citacoesGoogleScholar', 'citacoesGoogleScholarPeriodo',
       'citacoesScopus', 'citacoesScopusPeriodo', 'citacoesWos',
       'citacoesWosPeriodo', 'codpes', 'codpesOfuscado',
       'documentoGoogleScholar', 'documentoScopus', 'documentoWoS', 'idLattes',
       'idOrcid', 'idResearcherID', 'idScholar', 'idScopus',
       'indicehGoogleScholar', 'indicehScopus', 'indicehWoS', 'nompes',
       'totalComColabInterPerc', 'totalDoutorado', 'totalEstratoA1',
       'totalEstratoA2', 'totalEstratoB1', 'totalEstratoB2', 'totalEstratoB3',
       'totalEstratoB4', 'totalEstratoB5', 'totalEstratoC', 'totalMestrado',
       'totalProdComColabInter', 'totalProducoes'],
      dtype='object')

In [13]:
programs_data.columns

# os unicos que interessam é codigoProgramaPos e programaPos

Index(['codigoProgramaPos', 'numeroAreas', 'percentualDocentesComLattes',
       'percentualDocentesComOrcid', 'percentualDocentesComResID',
       'percentualDocentesComScholar', 'percentualDocentesComScopus',
       'programaPos', 'totalCredenciamentos', 'totalDocenteAposentadoCred',
       'totalDocenteExternoCredenciado', 'totalDocenteInternoCredenciado',
       'totalDocentesComLattes', 'totalDocentesComOrcid',
       'totalDocentesComResID', 'totalDocentesComScholar',
       'totalDocentesComScopus', 'totalDocentesCredenciados'],
      dtype='object')

In [14]:
programs_data.set_index("codigoProgramaPos").loc[42003, "programaPos"]

'Biologia de Sistemas'

In [15]:
program_data.loc[:, ["codigoProgramaPos", "programaPos"]] = programs_data.iloc

KeyError: "['codigoProgramaPos' 'programaPos'] not in index"

### Pt 2 - departamentos

In [ ]:
departments_data.columns

# interessa somente o nomset, nomabvset e codset

## Mining

In [19]:
# Dados dos programas de pós

programs_data = load_URI_data(URI_programs).set_index("codigoProgramaPos")

output = []

for codigo_programa in programs_data.index:
    nome_programa = programs_data.loc[codigo_programa, "programaPos"]
    
    params = {"codigo_programa": codigo_programa, "ano_final": ano_final, "ano_inicial": ano_inicial}
    URI_program = (base_URI + "/indicadores_pos/orientadores_credenciados_indicadores_pos/{codigo_programa}/{ano_inicial}/{ano_final}"
                              .format(**params))

    program_data = (load_URI_data(URI_program)
                    .set_index("codpesOfuscado")
                    .assign(codigoProgramaPos=codigo_programa)
                    .assign(programaPos=nome_programa))
    
    output.append(program_data)
    print("\r{}   ".format(codigo_programa), end="")
    
doc_per_program_data = pd.concat(output)

42007

In [20]:
# Dados dos departamentos

departments_data = load_URI_data(URI_departments).set_index("codset")

output = []

for codigo_departamento in departments_data.index:
    info_depto = departments_data.loc[codigo_departamento, ["nomabvset", "nomset"]]
    
    params = {"codigo_departamento": codigo_departamento, "ano_final": ano_final, "ano_inicial": ano_inicial}
    URI_department = (base_URI + "/indicadores/docentes_do_departamento/{codigo_departamento}/{ano_inicial}/{ano_final}"
                              .format(**params))

    department_data = (load_URI_data(URI_department)
                       .set_index("codpesOfuscado")
                       .assign(codigoDepto=codigo_departamento)
                       .assign(nomeDepto=info_depto["nomset"])
                       .assign(siglaDepto=info_depto["nomabvset"]))
    
    output.append(department_data)
    print("\r{}   ".format(codigo_departamento), end="")
    
doc_per_depto_data = pd.concat(output)

1528

## Exploração

In [ ]:
doc_per_depto_data.shape

In [ ]:
doc_per_program_data.shape

In [ ]:
joined_data = doc_per_program_data.join(doc_per_depto_data, rsuffix="_grad")

In [ ]:
joined_data.shape

In [ ]:
joined_data.describe().T

In [ ]:
joined_data.columns

In [16]:
cols = ["nompes", "programaPos", "nomeDepto", "citacoesGoogleScholar"]

clean_data = joined_data.loc[:, cols]

NameError: name 'joined_data' is not defined

In [17]:
clean_data

NameError: name 'clean_data' is not defined

In [18]:
joined_data.to_csv("wer_usp.csv")

NameError: name 'joined_data' is not defined